<div class="flex flex-col flex-grow gap-4">
  <div class="grid grid-cols-3">
    <div></div>

    <div class="grid place-items-center">
      <div role="tablist" class="tabs tabs-sm tabs-box">
        <a
          role="tab"
          class="tab"
          [class.tab-active]="displayMode() === 'list'"
          (click)="setDisplayMode('list')"
        >
          <i class="bi bi-list"></i>
        </a>
        <a
          role="tab"
          class="tab"
          [class.tab-active]="displayMode() === 'grid'"
          (click)="setDisplayMode('grid')"
        >
          <i class="bi bi-grid"></i>
        </a>
      </div>
    </div>

    <div class="grid place-items-center">
      <button class="btn btn-xs btn-ghost ml-auto">Clear</button>
    </div>
  </div>

  @if (displayMode() === 'list') {
    <div class="flex flex-col gap-2 fade-in">
      @for (pokemon of pokemons(); track pokemon.name) {
        <div
          class="flex items-center border border-muted rounded-2xl"
          (click)="showActions(pokemon)"
        >
          <div class="flex flex-col justify-center items-center h-14 w-24">
            <img
              [src]="pokemon.sprite"
              [alt]="pokemon.name"
              style="max-width: min(40px, 100%); max-height: min(40px, 100%)"
            />
          </div>
          <div class="flex-grow p-1 overflow-hidden text-ellipsis capitalize">
            {{ pokemon.name }}
          </div>
        </div>
      } @empty {
        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
      }
    </div>
  } @else {
    <div class="grid grid-cols-3 gap-2 fade-in">
      @for (pokemon of pokemons(); track pokemon.name) {
        <div
          class="flex flex-col justify-center border border-muted rounded-2xl"
          (click)="showActions(pokemon)"
        >
          <div class="flex flex-col justify-end items-center h-24">
            <img [src]="pokemon.sprite" [alt]="pokemon.name" style="max-width: min(100px, 100%)" />
          </div>
          <div class="text-center text-sm capitalize p-1 overflow-hidden text-ellipsis">
            {{ pokemon.name }}
          </div>
        </div>
      } @empty {
        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
      }
    </div>
  }
</div>

<ng-template #emptyTemplate>
  <div class="flex flex-col justify-center items-center col-span-3 mt-16">
    <img src="pikachu.svg" alt="Pikachu" style="width: min(100px, 50vw)" />

    <div class="text-center text-balance w-2/3 mt-8">
      Looks like you don't have any favorites yet!
    </div>

    <button class="btn btn-primary btn-wide mt-4" routerLink="/discover">Add</button>
  </div>
</ng-template>

<dialog #modalRef class="modal modal-bottom">
  <div class="modal-box">
    <div class="custom-max-w">
      @if (selectedPokemon(); as pokemon) {
        <div class="relative grid place-items-center h-56">
          <img [src]="pokemon.sprite" [alt]="pokemon.name" style="transform: scale(1.2)" />
          <div class="fireworks absolute inset-0 -z-10"></div>

          @if (feedback(); as feedback) {
            <div
              class="absolute top-2 inset-x-2 border bg-base-200/30 backdrop-blur-sm rounded-lg px-3 py-2 max-h-full overflow-y-auto fade-in"
              [class.border-success]="feedback.type === 'success'"
              [class.border-error]="feedback.type === 'error'"
              (click)="dismissFeedback()"
            >
              <span class="text-xs">{{ feedback.message }}</span>
            </div>
          }
        </div>
        <h3 class="text-lg font-bold capitalize">
          {{ pokemon.name }}
          <span class="text-base-content/50">#{{ pokemon.id | number: '3.0' }}</span>
        </h3>
        <div class="grid grid-cols-2 gap-4 mt-4">
          <button
            class="btn btn-sm btn-soft btn-success"
            [disabled]="fireworksPlaying()"
            (click)="hugPokemon(pokemon)"
          >
            Hug!
          </button>
          <button class="btn btn-sm btn-soft btn-error" (click)="removePokemon(pokemon)">
            Remove
          </button>
        </div>
      }
      <div class="safe-area-bottom"></div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>
