<div class="grid grid-cols-3 gap-2">
  @for (pokemon of pokemons(); track $index) {
  <div class="flex flex-col justify-center border border-neutral rounded-2xl">
    <div class="flex flex-col justify-end items-center h-24">
      <img [src]="pokemon.sprite" [alt]="pokemon.name" style="max-width: min(100px, 100%)" />
    </div>
    <div class="text-center text-sm capitalize p-1 overflow-hidden text-ellipsis">
      {{ pokemon.name }}
    </div>
  </div>
  } @empty {
  <div class="flex flex-col justify-center items-center col-span-3">
    <img src="pikachu.svg" alt="Pikachu" style="width: max(100px, 50vw)" />

    <div class="text-center text-balance w-2/3 mt-8">
      Looks like you don't have any favorites yet!
    </div>

    <button class="btn btn-primary btn-wide mt-4" routerLink="/discover">Add</button>
  </div>
  }
</div>
