<div class="flex flex-col flex-grow gap-4">
  <div class="flex flex-row justify-center items-center gap-4">
    <div role="tablist" class="tabs tabs-sm tabs-boxed w-24">
      <a
        role="tab"
        class="tab"
        [class.tab-active]="displayMode() === 'list'"
        (click)="setDisplayMode('list')"
      >
        <i class="bi bi-list"></i>
      </a>
      <a
        role="tab"
        class="tab"
        [class.tab-active]="displayMode() === 'grid'"
        (click)="setDisplayMode('grid')"
      >
        <i class="bi bi-grid"></i>
      </a>
    </div>

    <!-- <button class="btn btn-xs btn-ghost ml-auto"><i class="bi bi-x-lg"></i>Clear</button> -->
  </div>

  @if (displayMode() === 'list') {
  <div class="flex flex-col gap-2 fade-in">
    @for (pokemon of pokemons(); track pokemon.name) {
    <div class="flex flex-row items-center border border-neutral rounded-2xl">
      <div class="flex flex-col justify-center items-center h-14 w-24">
        <img
          [src]="pokemon.sprite"
          [alt]="pokemon.name"
          style="max-width: min(40px, 100%); max-height: min(40px, 100%)"
        />
      </div>
      <div class="flex-grow p-1 overflow-hidden text-ellipsis capitalize">
        {{ pokemon.name }}
      </div>
    </div>
    } @empty {
    <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
    }
  </div>
  } @else {
  <div class="grid grid-cols-3 gap-2 fade-in">
    @for (pokemon of pokemons(); track pokemon.name) {
    <div class="flex flex-col justify-center border border-neutral rounded-2xl">
      <div class="flex flex-col justify-end items-center h-24">
        <img [src]="pokemon.sprite" [alt]="pokemon.name" style="max-width: min(100px, 100%)" />
      </div>
      <div class="text-center text-sm capitalize p-1 overflow-hidden text-ellipsis">
        {{ pokemon.name }}
      </div>
    </div>
    } @empty {
    <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
    }
  </div>
  }
</div>

<ng-template #emptyTemplate>
  <div class="flex flex-col justify-center items-center col-span-3 mt-16">
    <img src="pikachu.svg" alt="Pikachu" style="width: min(100px, 50vw)" />

    <div class="text-center text-balance w-2/3 mt-8">
      Looks like you don't have any favorites yet!
    </div>

    <button class="btn btn-primary btn-wide mt-4" routerLink="/discover">Add</button>
  </div>
</ng-template>
