:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--view-height);
}

.custom-max-w {
  width: 100%;
  max-width: var(--breakpoint-md);
  margin-inline: auto;
}

#main-view {
  padding-top: var(--padding-default);
  padding-left: max(env(safe-area-inset-left), var(--padding-default));
  padding-right: max(env(safe-area-inset-right), var(--padding-default));
  padding-bottom: var(--padding-default);
}
