<div class="flex flex-col flex-grow justify-center items-center p-4">
  <swiper-container class="border border-neutral-200 rounded-2xl">
    @for (pokemon of pokemons(); track $index) {
    <swiper-slide>
      <div class="flex flex-col h-full">
        <div class="flex flex-col justify-end items-center h-48">
          <img [src]="pokemon.sprite" [alt]="pokemon.name" style="transform: scale(1.5)" />
        </div>
        <div class="text-center capitalize py-8 border-t border-neutral-200">
          {{ pokemon.name }}
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</div>
