<div class="flex flex-col flex-grow justify-center items-center">
  <div class="carousel carousel-center rounded-box border border-neutral">
    @for (pokemon of pokemons(); track pokemon.name) {
    <div class="carousel-item w-full">
      <div class="flex flex-col flex-grow">
        <div class="flex flex-col justify-end items-center h-56">
          <img [src]="pokemon.sprite" [alt]="pokemon.name" style="transform: scale(1.5)" />
        </div>

        <div class="text-center capitalize py-8 border-t border-neutral">
          {{ pokemon.name }}
        </div>

        <div class="grid place-items-center mt-auto mb-4">
          <button class="btn" (click)="getPokemonAsync(pokemon.name)">Open</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<dialog #modalRef class="modal modal-bottom sm:modal-middle">
  <div class="modal-box h-64">
    @if (selectedPokemon(); as pokemon) {
    <h3 class="text-lg font-bold capitalize">{{ pokemon.name }}</h3>

    @if (pokemon.data; as data) {
    <div class="py-4">
      <div>
        Type: <kbd class="kbd kbd-sm">{{ data.types[0].type.name }}</kbd>
      </div>
      <div>Height: {{ data.height * 10 }} cm</div>
      <div>Weight: {{ data.weight / 10 }} kg</div>
    </div>
    } }
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>
