<div class="flex flex-col flex-grow gap-4">
  <app-search-box
    [dataSource]="pokemons()"
    (onSelect)="scrollToPokemon($event, 'smooth')"
  ></app-search-box>

  <div class="carousel carousel-center flex-grow rounded-box border border-muted">
    @for (pokemon of pokemons(); track pokemon.name) {
      <div
        class="carousel-item w-full"
        [attr.data-pokemon]="pokemon.name"
        [attr.data-index]="$index"
      >
        <app-pokemon-card
          [pokemon]="pokemon"
          (onDetailsClick)="getPokemonAsync($event)"
        ></app-pokemon-card>
      </div>
    }
  </div>

  <div class="text-center text-xs">
    {{ selectedPokemonSlide().index + 1 }} / {{ pokemons().length }}
  </div>
</div>

<dialog #modalRef class="modal modal-bottom">
  <div class="modal-box h-80 md:h-auto">
    <app-pokemon-detail
      [pokemon]="selectedPokemon()"
      (onFavoriteClick)="setFavoritePokemon()"
    ></app-pokemon-detail>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Close</button>
  </form>
</dialog>
