@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --view-height: 100vh;
  --padding-default: 1rem;
}

/* ========================================================================= */

.modal {
  transition-duration: 0.4s;
}

.modal::backdrop {
  animation-duration: 0.4s;
}
