@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: 'dark';
  --depth: 0;
  --noise: 0;
}

:root {
  --view-height: 100vh;
  --padding-default: 1rem;
  --border-muted: oklch(0.92 0.004 286.32);

  &[data-theme='dark'] {
    --border-muted: oklch(1 0 0 / 10%);
  }
}

/* ========================================================================= */

.border-muted {
  border-color: var(--border-muted);
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-max-w {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin-inline: auto;
}
