@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    caramellatte,
    coffee;
}

/* ========================================================================= */

:root {
  --view-height: 100vh;
  --padding-default: 1rem;
  --border-muted: oklch(0.92 0.004 286.32);

  &[data-theme='dark'] {
    --border-muted: oklch(1 0 0 / 10%);
  }
}

.border-muted {
  border-color: var(--border-muted);
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-max-w {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin-inline: auto;
}

/* ========================================================================= */

.fade-in {
  animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
